<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="persona1" class="com.springcollections.beans.Persona">
		<property name="nombre" value="Rod Jonhson" />
		<property name="edad" value="50" />
	</bean>
	<bean id="persona2" class="com.springcollections.beans.Persona">
		<property name="nombre" value="James Gosling" />
		<property name="edad" value="57" />
	</bean>
	<bean id="manejador" class="com.springcollections.ManejadorColecciones">
		<property name="myList">
			<list>
				<ref bean="persona1" />
				<ref bean="persona2" />
				<bean id="personaNula" class="com.springcollections.beans.Persona">
				    <property name="nombre"><null/></property >
				    <property name="edad" value="26" />
				</bean>
			</list>
		</property>
		<property name="myArray">
			<array>
				<ref bean="persona1" />
				<ref bean="persona2" />
				<bean id="persona3" class="com.springcollections.beans.Persona">
					<property name="nombre" value="Dennys Ritchie" />
					<property name="edad" value="70" />
				</bean>				
			</array>
		</property>	
		<property name="mySet">
		    <set>
		        <ref bean="persona1" />
		        <ref bean="persona2" />
		        <ref bean="persona2" />
		    </set>
		</property>
		<property name="myMap">
		    <map>
		    	<entry key="personaKey" value-ref="persona1" />
		    </map>
		</property>
		<property name="myProperties">
		    <value>
		        nombre=Alex
		        pais=Mexico
		        sitio=http://javatutoriales.blogspot.com
		        facebook=http://www.facebook.com/pages/Java-Tutoriales/121935157864634
		    </value>
		</property>
	</bean>
</beans>